@screen-sm: 320px;
@screen-md: 700px;
@screen-lg: 1200px;



@dark-gray: #1d2631;
@dark-gray-opacity: rgba(0, 0, 0, .3);

@back-light-grey: #f2f2f2;
@header-app: #283645;
@white: #fff;
@black: #111;
@font-color-text: #A0A3A7;
@red-cross: #f25b26;
@green-checkout:  #94df98;
@pink-contact: #d22856;
@pink-rgba: rgba(210,40,86, 0.5);
@grey-toggle: #e5e5e5;
@green-button: #2aab6d;
@color_form_hover: #1c9b5e;
@color_form-text_active: #7abc98;
@color-text-italic: #8a8a8a;


@tablet-color-text-base: #283645;



@img-path: '../img';


@font-base: 'Open Sans', 'Arial','Helvetica', 'Sans-serif';

@font-size-promo-title: 18px;
@font-size-zero: 0px;
@font-size-header-title:  25px;
@font-size-header-button: 16px;
@font-header-description: 14px;
@font-size-review-title: 20px;
@font-size-footer-question: 26px;
@font-size-24px: 24px;
@font-size-30px: 30px;
@font-size-12px: 12px;
@font-size-50px: 50px;


/*tablet*/
@font-size-title-header-tablet: 40px;
@font-size-header-tablet-blog: 44px;
@tablet-clock-title: 30px;
@font-size-tablet-blog-title: 27px;

/*desktop*/
@font-size-header-button-desktop: 21px;



