.announce {

}
.announce-item {
  margin: 20px 20px;
  padding: 0;
  line-height: 1.5em;
  box-shadow: 0 1px 0 @back-light-grey ;

  &__title{
    margin: 0 0;
    padding: 0;
  }
  &__title a{
    color: @header-app;
    font-size: @font-size-promo-title;
  }
  &__date {
    padding: 0;
    margin: 10px 0 20px 0;
    color: @pink-contact;
  }
  &__text{
    padding-bottom: 20px;
  }
  &__text a{
    color: @header-app;
    font-size: @font-size-header-button;

  }

}
