.promo {
  padding: 0;
  margin: 0;
  min-width: 320px;
  max-width: 699px;
  min-height: 1000px;
  background-image: linear-gradient(-5deg, @back-light-grey 76%, @white 76%);

  &__wrap {
    background: url('@{img-path}/screen-mobile-3.png') no-repeat 50% 100%;
    min-height: 1001px;
    max-width: 699px;
    text-align: center;
  }
}

.promo-slogan {
  color: @tablet-color-text-base;
  text-align: center;
  width: 320px;
  margin: 0 auto;
  padding: 38px 0 85px 0;

  &__title {
    font-size: @font-size-24px;
    font-weight: 100;
    padding: 0 20px 27px 20px;
    line-height: 1.28em;
  }

}

.promo-item {
  display: block;
  margin: 0 auto;
  width: 280px;
  padding-bottom: 31px;
  line-height: 1.5em;
  text-align: center;

  &__title {
    color: @black;
    font-size: @font-size-promo-title;
    padding-bottom: 12px;

  }
  &__text {
    color: @tablet-color-text-base;
    font-size: @font-header-description;

  }
}

.tablet-effect {
  display: none;
}

.review {
  position: relative;
  background-image: linear-gradient(-5deg, @back-light-grey 20%, @white 20%);
  margin: 0 auto;
  padding-bottom: 102px;
  & input[type=radio] {
    display: none;
  }
}

.review-inner {
  overflow: hidden;
  width: 320px;
  margin: 0 auto;
}

.review-slider {
  width: 320%;
}

.review-item {
  position: relative;
  padding: 20px;
  float: left;
  width: 280px;
  min-height: 300px;
  transition: transform .8s ease;
  text-align: center;
  line-height: 1.5em;

  &__title {
    font-size: @font-size-promo-title;
    color: @black;
    padding-top: 25px;
    padding-bottom: 16px;

  }
  &__text {
    font-size: @font-header-description;
    color: @tablet-color-text-base;
    line-height: 2.2em;

  }
}

.review-sign {
  display: none;
}

.review-controls {
  position: absolute;
  width: 100%;
  left: 1px;
  bottom: 130px;
  z-index: 100;
  text-align: center;

  & label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    cursor: pointer;
    background-color: @grey-toggle;
    border: 3px solid @white;
    border-radius: 50%;
    transition: background-color .2s;
    vertical-align: middle;

  }
}

#btn-1:checked ~ .review-controls label[for="btn-1"],
#btn-2:checked ~ .review-controls label[for="btn-2"],
#btn-3:checked ~ .review-controls label[for="btn-3"] {
  border: 3px solid @tablet-color-text-base;
  background: @white;
}

#btn-1:checked ~ .review-inner .review-slider > .review-item {
  transform: translate(0);
}

#btn-2:checked ~ .review-inner .review-slider > .review-item {
  transform: translate(-320px);
}

#btn-3:checked ~ .review-inner .review-slider > .review-item {
  transform: translate(-640px);
}

.app {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 700px;
  min-height: 380px;
  background-image: linear-gradient(to bottom, @white 73%, @back-light-grey 73%);

  & input[type=radio] {
    display: none;
  }
  &__wrap {
    background-image: linear-gradient(to bottom, @tablet-color-text-base 100px, @white 100px);

  }

}

.app-inner {
  overflow: hidden;
  width: 320px;
  margin: 0 auto;
}

.app-slider {
  width: 300%;
  min-height: 250px;

}

.app-item-tablet {
  display: none;
}

.app-item {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  width: 320px;
  transition: transform .8s ease;
  line-height: 1.5em;

  &__header {
    background-color: @tablet-color-text-base;
    color: @white;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0 22px 0;
  }

  &__header-title {
    font-size: @font-size-promo-title;
    margin: 0;
    padding-bottom: 8px;

  }
  &__header--hit {
    font-size: @font-size-promo-title;
    margin: 0;
    &:before {
      padding: 0;
      margin: 0;
      content: 'ХИТ';
      position: absolute;
      color: @white;
      font-size: @font-header-description;
      font-weight: 300;
      top: 10px;
      left: -25px;
      transform: rotate(315deg);
      background-image: linear-gradient(-45deg, @pink-contact 80%, transparent 80%);
      width: 100px;
      height: 20px;
      z-index: 50;
    }

  }
  &__header-price {
    font-size: @font-size-24px;
    font-weight: 100;
    margin: 0;

  }
}

.app-controls {
  position: absolute;
  width: 45%;
  left: 0;
  bottom: 45px;
  z-index: 101;
  text-align: center;
  padding: 0 27%;

  & label {
    background-color: @grey-toggle;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    cursor: pointer;
    border: 3px solid @back-light-grey;
    border-radius: 50%;
    transition: background-color .2s;
    vertical-align: middle;

  }
}

#app-btn-1:checked ~ .app-controls label[for="app-btn-1"],
#app-btn-2:checked ~ .app-controls label[for="app-btn-2"],
#app-btn-3:checked ~ .app-controls label[for="app-btn-3"] {
  border: 3px solid @tablet-color-text-base;
  background: @back-light-grey;
}

#app-btn-1:checked ~ .app-inner .app-slider > .app-item {
  transform: translate(0);
}

#app-btn-2:checked ~ .app-inner .app-slider > .app-item {
  transform: translate(-320px);
}

#app-btn-3:checked ~ .app-inner .app-slider > .app-item {
  transform: translate(-640px);
}

.app-list {
  &__item {
    width: 280px;
    font-size: @font-header-description;
    text-transform: uppercase;
    padding: 18px 20px;
    border-bottom: 2px solid @grey-toggle;
    position: relative;
    color: @tablet-color-text-base;
    text-align: left;

    &--yes:after {
      content: '';
      background-color: @green-checkout;
      position: absolute;
      width: 30px;
      height: 3px;
      top: 30px;
      right: 20px;
      transform: rotate(-45deg);
      z-index: 100;
    }
    &--yes:before {
      content: '';
      background-color: @green-checkout;
      position: absolute;
      width: 15px;
      height: 3px;
      top: 34px;
      right: 42px;
      transform: rotate(45deg);
      z-index: 100;
    }

    &--not:after {
      content: '';
      background-color: @red-cross;
      position: absolute;
      width: 30px;
      height: 3px;
      top: 30px;
      right: 30px;
      transform: rotate(45deg);
    }
    &--not:before {
      content: '';
      background-color: @red-cross;
      position: absolute;
      width: 30px;
      height: 3px;
      top: 30px;
      right: 30px;
      transform: rotate(-45deg);
    }

  }
}
/********************/
@media (min-width: @screen-md) and (max-width: (@screen-lg - 1)) {
  .promo {
    max-width: 1199px;
    min-height: 730px;
    background-image: linear-gradient(-5deg, @back-light-grey 62.5%, @white 62.5%);

    &__wrap {
      background: url('@{img-path}/iphone-screen-tablet-3@1x.png') no-repeat 40px 100%;
      min-height: 725px;
      max-width: 1199px;
      text-align: center;
    }

  }

  .promo-slogan {
    padding: 47px 0 90px 0;
    width: 600px;
    margin: 0 auto;
//
//    & h2:last-child {
//      width: 580px;
//    }

    &__title {
      font-size: @font-size-title-header-tablet;
      padding: 0;
      line-height: 1.23em;
    }

  }

  .promo-item {
    width: 320px;
    padding: 33px 15px 0 348px;

    text-align: left;

    &__title {

      font-size: @font-size-promo-title;

    }
    &__text {
      font-size: @font-header-description;
    }
  }

  .tablet-effect {
    display: block;
    min-height: 370px;
    min-width: 700px;
    max-width: 100%;

  }

  .tablet-effect-clock {
    min-height: 360px;

    background: url('@{img-path}/tablet-clock.png') no-repeat 40px 50px;

    &__title {
      margin: 0;
      font-size: @font-size-30px;
      color: @black;
      padding: 90px 100px 12px 348px;
      line-height: 1.2em;

    }
    &__text {
      margin: 0;
      padding: 0 50px 10px 348px;
      color: @header-app;
      font-size: @font-header-description;
      line-height: 1.74em;
    }
    &__link {
      display: block;
      margin: 0;
      padding: 0 50px 20px 348px;
      color: @pink-contact;
      font-size: @font-header-description;
      line-height: 1.5em;
      text-decoration: underline;
    }
  }

  .review {
    min-height: 345px;
    padding: 20px 0 0 20px;
  }

  .review-inner {
    width: 620px;
    padding-top: 35px;
  }

  .review-slider {
    width: 300%;
  }

  .review-item {
    padding: 0;
    width: 620px;
    min-height: 237px;
    transition: transform .8s ease;
    text-align: center;

    &__title {
      display: none;

    }
    &__text {
      font-size: @font-size-promo-title;
      color: @font-color-text;
      line-height: 1.74em;

    }
  }

  .review-sign {
    display: block;
    &__title {
      font-size: @font-size-review-title;
      color: @black;
      padding:37px 0 10px 0;
    }
    &__text {
      font-size: @font-header-description;
      color: @tablet-color-text-base;
    }
  }

  .review-controls {
    width: 100%;
    padding-left: 10px;
    bottom: 70px;
  }

  #btn-1:checked ~ .review-inner .review-slider > .review-item {
    transform: translate(0);
  }

  #btn-2:checked ~ .review-inner .review-slider > .review-item {
    transform: translate(-620px);
  }

  #btn-3:checked ~ .review-inner .review-slider > .review-item {
    transform: translate(-1240px);
  }

  .app {
    max-width: 1199px;
    min-height: 290px;
    padding: 34px 0 0 20px;
    background-image: linear-gradient(to bottom,  @back-light-grey 0,  @back-light-grey 0);

    &__wrap {
      background-image: linear-gradient(to bottom,  @back-light-grey 0,  @back-light-grey 0);

    }

  }

  .app-inner {
    overflow: hidden;
    width: 620px;
    margin: 0 auto;
    border-right:2px solid @grey-toggle;
    border-bottom:2px solid @grey-toggle;
  }

  .app-slider {
    width: 100%;
    min-height: 100%;


  }

  .app-item-tablet {
    display: block;
  }

  .app-item {
    vertical-align: middle;
    background-color: @white;
    width: 155px;
    min-height: 100%;
    line-height: 1em;

    &__header-price {
      font-size: @font-size-promo-title;
      font-weight: 100;
      margin: 0;
    }

    &__header {
      padding: 20px 0 1px 0;
      min-height: 60px;
      border-right: 2px solid @grey-toggle;
      &--tablet{
        color: @back-light-grey;
        background-color: @back-light-grey;
        border-left: 0;
        border-top: 0;
      }

    }
    &__header-title {
      font-size: @font-size-header-button;
      margin: 0;
      padding-bottom: 8px;

    }

  }

  .app-list {
    &__item {
      width: auto;
      text-transform: none;
      padding: 10px 0  0 15px;
      border-top: 2px solid @grey-toggle;
      border-left: 2px solid @grey-toggle;
      border-bottom: none;
      position: relative;
      color: @font-color-text;
      text-align: left;
      min-height: 35px;

      &--yes:after{
        top: 18px;
        right: 56px;
      }
      &--yes:before {
        top: 24px;
        right: 78px;
      }
      &--not:after {
              top: 20px;
              right:60px;
            }
            &--not:before {
              top: 20px;
              right: 60px;
            }

    }
    &__item-text {
      display: none;
    }

  }

  .app-controls {
    display: none;
  }
}

/*******************/
/*******************/


@media (min-width: @screen-lg) {
  .promo {
    min-width: 1199px;
    min-height: 730px;
    max-width: 100%;
    background-image: linear-gradient(-5deg, @back-light-grey 69%, @white 69%);

    &__wrap {
      background: none;
      min-height: 725px;
      max-width: 100%;
      text-align: center;
      margin: 0 auto;
    }

  }

  .promo-slogan {
    padding: 66px 0 73px 150px;
    width: 900px;
    margin: 0 auto;

    &__title {
      font-size: @font-size-50px;
      padding: 0;
      line-height: 1.23em;
    }

  }

  .promo-item-desktop {
    display: inline-block;
    width: 850px;
    margin: 0 auto;
  }

  .promo-item {
    width: 250px;
    padding: 351px 0 0 0;
    margin-right: 50px;
    text-align: center;
    float: left;

    &__title {
      line-height: 1.2;
      font-size: @font-size-30px;
      padding-bottom: 19px;

    }
    &__text {
      font-size: @font-size-promo-title;
      color: @tablet-color-text-base;
      line-height: 1.7em;
      padding-bottom: 61px;
    }

    &--desk-left {
      background: url("@{img-path}/iphone-screen-desktop-1@1x.png") no-repeat 50% 0;

    }
    &--desk-center {
      background: url("@{img-path}/iphone-screen-desktop-2@1x.png") no-repeat 50% 0;

    }
    &--desk-right {
      background: url("@{img-path}/iphone-screen-desktop-3@1x.png") no-repeat 50% 0;
      float: right;
      margin-right: 0;

    }
  }

  .tablet-effect {
    display: block;
    min-height: 370px;
    min-width: 1200px;
    max-width: 100%;
    background-color: @back-light-grey;

  }

  .tablet-effect-clock {
    min-height: 360px;

    background: url('@{img-path}/watch-desktop.png') no-repeat 130px 0;

    &__title {
      margin: 0;
      font-size: @font-size-30px;
      color: @black;
      padding: 90px 100px 23px 496px;
      line-height: 1.2em;

    }
    &__text {
      margin: 0;
      padding: 0 210px 30px 496px;
      color: @header-app;
      font-size: @font-size-promo-title;
      line-height: 1.74em;
    }
    &__link {
      display: block;
      margin: 0;
      padding: 0 50px 20px 496px;
      color: @pink-contact;
      font-size: @font-size-promo-title;
      line-height: 1.5em;
      text-decoration: underline;
    }
  }

  .review {
    min-height: 345px;
    padding: 20px 0 0 20px;
  }

  .review-inner {
    width: 740px;
    padding-top: 95px;
    padding-bottom: 165px;
  }

  .review-slider {
    width: 300%;
  }

  .review-item {
    padding: 0;
    width: 740px;
    min-height: 237px;
    transition: transform .8s ease;
    text-align: center;

    &__title {
      display: none;

    }
    &__text {
      background: url("@{img-path}/quotes.png") no-repeat 50% 0;
      font-size: @font-size-promo-title;
      color: @tablet-color-text-base;
      line-height: 1.74em;
      padding-top: 112px;

    }



  }

  .review-sign {
    display: block;
    &__title {
      font-size: @font-size-24px;
      color: @black;
      padding: 37px 0 10px 0;
    }
    &__text {
      font-size: @font-size-promo-title;
      color: @tablet-color-text-base;
    }
  }

  .review-controls {
    display: none;
  }

  .app {
    max-width: 100%;
//    min-height: 290px;
    padding: 26px 0 0 0;
    background-image: linear-gradient(to bottom,  @back-light-grey 0,  @back-light-grey 0);

    &__wrap {
      background-image: linear-gradient(to bottom,  @back-light-grey 0,  @back-light-grey 0);

    }

  }

  .app-inner {
    overflow: hidden;
    width: 940px;
    margin: 0 auto;
    border-right:2px solid @grey-toggle;
    border-bottom:2px solid @grey-toggle;
  }

  .app-slider {
    width: 100%;
    min-height: 100%;


  }

  .app-item-tablet {
    display: block;
  }

  .app-item {
    vertical-align: middle;
    background-color: @white;
    width: 235px;
    min-height: 100%;
    line-height: 1em;

    &__header-price {
      font-size: @font-size-24px;
      font-weight: 100;
      margin: 0;
    }

    &__header {
      padding: 23px 0 1px 0;
      min-height: 76px;
      border-right: 2px solid @grey-toggle;
      &--tablet{
        color: @back-light-grey;
        background-color: @back-light-grey;
        border-left: 0;
        border-top: 0;
      }

    }
    &__header-title {
      font-size: @font-size-promo-title;
      margin: 0;
      padding-bottom: 17px;

    }

  }

  .app-list {
    &__item {
      width: auto;
      text-transform: none;
      padding: 17px 0  0 21px;
      border-top: 2px solid @grey-toggle;
      border-left: 2px solid @grey-toggle;
      border-bottom: none;
      position: relative;
      color: @font-color-text;
      font-size: @font-size-promo-title;
      text-align: left;
      min-height: 41px;

      &--yes:after{
        top: 18px;
        right: 56px;
      }
      &--yes:before {
        top: 24px;
        right: 78px;
      }
      &--not:after {
        top: 20px;
        right:60px;
      }
      &--not:before {
        top: 20px;
        right: 60px;
      }

    }
    &__item-text {
      display: none;
    }

  }

  .app-controls {
    display: none;
  }
}
