
.menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 65px;
  width: 320px;

//  & > li:hover {
//    box-shadow: 0 1px 1px 0 @black;
//    background: @dark-gray url('@{img-path}/PINK.png') no-repeat 20px 20px;
//    background-color: @header-app;
//    width: 320px;
//    height: 60px;
//    left: 0px;
//    top: 0;
//
//
//  }

//  & > li:hover .ddmenu {
//    display: block;
//    margin-top: 2px;
//  }
}

.ddmenu {
  position: absolute;
  display: none;
  top: 60px;
  left: 0px;
  background-color: @header-app;

  &-item {
    box-shadow:
      0 -1px 1px 0 @font-color-text,
      0 1px 1px 0 @black;
    margin-bottom: 2px;
    width: 320px;
    height: 20px;
    background-color: @header-app;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;

    &__link {
      text-decoration: none;
      color: @white;
      font-size: @font-size-promo-title;
      text-transform: uppercase;

    }
  }
}
