/*index*/

.index-header{
  background-color: @dark-gray;
  width: 320px;
  min-height: 730px;
  &__slogan{
    width: auto;
    min-height: 730px;
    background:@dark-gray url('@{img-path}/phone-in-hand.png') no-repeat 50% -68px;

  }
  &__title{
    font-family: @font-base;
    font-size: @font-size-header-title;
    font-weight: 400;
    color: @font-color-text;
    text-align: center ;
    padding: 10px 30px 340px 30px;

  }
}


.logo {
  background-color: @dark-gray ;
  min-height: 65px;
  opacity: 0.8;

  &__PINK {
    background:@dark-gray url('@{img-path}/PINK.png') no-repeat 20px 20px;
    display: block;
    float: left;
    min-height: 65px;
    width: 100px;
    top: 20px;
    left: 20px;

  }
  &__PINK span{
   visibility: hidden;
  }
}

.iconsOS {
  &__content {
    color: @font-color-text;
    text-align: center;
    font-size: @font-header-description;
    line-height: 1.5em;
    padding: 0 20px 30px 20px;

  }
}

.iconsOS-list {
  width: 260px;
  padding: 0  30px;
  text-align: center;
  &__item{
    display: inline-block;
    padding-right: 34px;
    min-height: 57px;
    vertical-align: baseline;
  }

}

/*blog*/
.main-header{
  background-color: @dark-gray;
  width: 320px;
  min-height: 197px;
  &--form{
    min-height: 235px;
  }
  &__slogan{
    width: auto;
    min-height: 197px;
    background:@dark-gray url('@{img-path}/background-photo.png') no-repeat 50% -68px;
    &--form{
      min-height: 235px;
    }

  }
  &__title{
    font-family: @font-base;
    font-size: @font-size-header-title;
    font-weight: 100;
    color: @font-color-text;
    text-align: center ;
    padding: 30px 15px 10px 15px;

  }

}

/*form*/
.form-header-title h1{
  display: block;
  min-height: 450px;
  width: auto;
}

