/*index*/

.index-header {
  background-color: @dark-gray;
  width: 100%;
  max-width: 700px;
  background: @dark-gray url('@{img-path}/background-mobile@1x.jpg') no-repeat 50% -2px;

  &__slogan {
    width: 100%;

  }
  &__wrap {
    width: 100%;
    background: url('@{img-path}/iphone-hand-mobile.png') no-repeat 0 172px;

  }
  &__title {
    display: block;
    margin: 0 auto;
    padding-bottom: 314px;
    width: 260px;

    & h1 {
      padding-top: 19px;
      font-family: @font-base;
      font-size: @font-size-24px;
      font-weight: 100;
      color: @white;
      text-align: center;
      line-height: 1.25em;
    }

  }
}

.logo {
  background-color: @dark-gray-opacity;
  min-height: 66px;
  width: 100%;

  &__PINK {
    background: url('@{img-path}/PINK.png') no-repeat 20px 22px;
    display: block;
    float: left;
    min-height: 65px;
    width: 100px;
    top: 0;
    left: 3%;

  }
  &__PINK span {
    visibility: hidden;
  }
}
.iconsOS-wrap {
  background-color: @dark-gray;
  width: 100%;
  height: 100%;
}
.iconsOS {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  background-color: @dark-gray;

  &__content {
    color: @font-color-text;
    text-align: center;
    font-size: @font-header-description;
    line-height: 1.74em;
    padding: 9px 20px 30px 20px;
    margin: 0 auto;
    letter-spacing: -0.02em;

  }
}

.iconsOS-list {
    .clearfix;
    width: 260px;
    margin-left: 40px;

  & ul>li:last-child {
    padding-right: 0px;
  }


  &__item {
    display: inline-block;
    padding-right: 34px;
    min-height: 57px;
    text-align: center;
    vertical-align: baseline;

  }

}

/*blog*/
.main-header {
  background-color: @dark-gray;
  max-width: 699px;

  &__slogan {
    width: 100%;
    background: @dark-gray url('@{img-path}/background-mobile@1x.jpg') no-repeat 50% 0;

  }
  &__title {
    width: 250px;
    font-family: @font-base;
    font-size: @font-size-header-title;
    font-weight: 100;
    color: @white;
    text-align: center;
    padding: 30px 10px 35px 10px;
    margin: 0 auto;
  }

}
/***********/
@media (min-width: @screen-md) and (max-width: (@screen-lg - 1)) {
  .index-header {
    max-width: 1199px;
    background: @dark-gray url('@{img-path}/background-tablet@1x.jpg') no-repeat -250px 0;

    &__wrap {
      background: none;
    }
    &__slogan {
      width: 100%;
      background: url('@{img-path}/iphone-hand-tablet@1x.png') no-repeat 0 75px;

    }
    &__title {
      .clearfix;
      width: 100%;
      padding: 30px 0 32px 0;

    }
    & h1 {
      width: 200px;
      float: left;
      padding-top: 63px;
      margin-left: 90px;
      font-family: @font-base;
      font-size: @font-size-title-header-tablet;
      font-weight: 100;
      line-height: 1.2em;
    }
  }

  .logo {
    min-height: 110px;

    &__PINK {
      background: url('@{img-path}/glasses-header-white.png') no-repeat 40px 27px;
      width: 200px;
      min-height: 109px;
    }
    &__PINK:hover {
      background:  url('@{img-path}/glasses-header-pink.png') no-repeat 40px 27px;
    }
    &__PINK:active {
      background: url('@{img-path}/glasses-header-active.png') no-repeat 40px 27px;
    }

  }

  .iconsOS {
    margin-left: 20px;
    background-color: transparent;

    &__content {
      color: @white;
      text-align: center;
      font-size: @font-size-promo-title;
      line-height: 1.48em;
      padding: 20px 0 108px 20px;
      margin: 0 auto;
      letter-spacing: -0.02em;

    }
  }
  .iconsOS-wrap{
    background-color: transparent;
  }


  /*blog*/
  .main-header {
    max-width: 1199px;
    width: 100%;

    &__slogan {
      width: 100%;
      background: @dark-gray url('@{img-path}/background-tablet@1x.jpg') no-repeat 50% 0px;

    }
    &__title {
      width: 600px;
      padding: 30px 0px 35px 0px;
      margin: 0 auto;
      font-size: @font-size-50px;
      font-weight: 100;

    }

  }
}





@media (min-width: @screen-lg) {
  .index-header {
    min-width: 1200px;
  }
}

