/*index*/

.index-header{
  background-color: @dark-gray;
  width: 320px;
  height: 730px;
  &__slogan{
    width: auto;
    height: 457px;
    background:@dark-gray url('@{img-path}/phone-in-hand.png') no-repeat 50% -68px;

  }
  &__title{
    font-family: @font-base;
    font-size: @font-size-header-title;
    font-weight: 400;
    color: @font-color-text;
    text-align: center ;
    padding: 10px 30px;

  }
}


.logo {
  background-color: @dark-gray ;
  height: 65px;
  opacity: 0.8;

  &__PINK {
    background:@dark-gray url('@{img-path}/PINK.png') no-repeat 20px 20px;
    display: block;
    height: 65px;
    width: 100px;
    top: 20px;
    left: 20px;

  }
  &__PINK span{
   visibility: hidden;
  }
}

.iconsOS {
  &__content {
    color: @font-color-text;
    text-align: center;
    font-size: @font-header-description;
    line-height: 1.5em;
    padding: 0 20px;

  }
}

.iconsOS-list {
  margin-bottom: 10px;
  width: 320px;
  text-align: center;
  &__item{
    display: inline-block;
    margin-right: 10px;
    width:46px;
    height: 57px;
  }

}

/*blog*/
.main-header{
  background-color: @dark-gray;
  width: 320px;
  height: 197px;
  &__slogan{
    width: auto;
    height: 197px;
    background:@dark-gray url('@{img-path}/background-photo.png') no-repeat 50% -68px;

  }
  &__title{
    font-family: @font-base;
    font-size: @font-size-header-title;
    font-weight: 100;
    color: @font-color-text;
    text-align: center ;
    padding: 10px 15px;
    margin-top: 20px;

  }
}