/*index*/
.footer-index {
  width: 100%;
  text-align: center;
  padding-top: 40px;

  &__align {
    display: block;
    position: absolute;
    width: 100%;
    background: #ffffff;
    background-size: 20px 10px;
    background-repeat: no-repeat;
  }
  &__question {
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0;
    color: @font-color-text;
    font-size: @font-size-footer-question;
    line-height: 1.2em;
    font-weight: 100;
  }
}

.footer-index-content {
  width: 100%;

  &__text {
    padding: 10px 0;
    font-weight: bold;
    color: @black;
    font-size: @font-size-promo-title;
    line-height: 1.5em;
    & span,
    & span a{
      font-weight: normal;
      color: @pink-contact;
      font-size: @font-size-footer-question;

    }
  }

}
.mymap {
  position: relative;
  width: 100%;
  height: 400px;

  &::after {
    content: '';
    position: absolute;
    background: url("@{img-path}/triangle-white-footer.svg") no-repeat 50% top ;
    background-size: cover;
    z-index: 100;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;

  }
}

/*blog*/
.footer {
  max-width: 699px;
  margin: 30px 0;
  &__align {
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }

}

.footer-logo {

  & span {
    display: none;
  }
  &__link {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    background: url('@{img-path}/footer-glasses.png') no-repeat 0 0;

    &:hover {
      background: url('@{img-path}/footer-glasses-hover.png') no-repeat 0 0;
    }

    &:active {
      background: url('@{img-path}/footer-glasses-down.png') no-repeat 0 0;

    }
  }
}

.footer-iconSN {
  padding: 40px 0 40px 3px;
  width: 190px;
  &__link {
    display: inline-block;
    margin-right: 10px;
    & span {
      display: none;
    }
    &[title=Twitter] {
      width: 24px;
      height: 24px;
      padding: 10px;
      background: url('@{img-path}/footer-iconsSN-sprite.png') no-repeat 11px 11px;
      border: 2px solid @font-color-text;
      border-radius: 50%;
    }
    &[title=Twitter]:hover {
      border: 2px solid @header-app;
    }
    &[title=Twitter]:active {
      opacity: 0.3;
    }
    &[title=Facebook] {
      width: 24px;
      height: 24px;
      padding: 10px;
      background: url('@{img-path}/footer-iconsSN-sprite.png') no-repeat -52px 11px;
      border: 2px solid @font-color-text;
      border-radius: 50%;
    }
    &[title=Facebook]:hover {
      border: 2px solid @header-app;
    }
    &[title=Facebook]:active {
      opacity: 0.3;
    }
    &[title=YouTube] {
      width: 24px;
      height: 24px;
      padding: 10px;
      background: url('@{img-path}/footer-iconsSN-sprite.png') no-repeat -115px 11px;
      border: 2px solid @font-color-text;
      border-radius: 50%;
    }
    &[title=YouTube]:hover {
      border: 2px solid @header-app;
    }
    &[title=YouTube]:active {
      opacity: 0.3;
    }
  }
}

.footer-developer {
  width: 190px;
  & span {
    display: none;
  }
  &__link {
    display: inline-block;
    padding-top: 2px;
    text-align: left;
    vertical-align: middle;
    width: 130px;
    height: 33px;
    font-size: @font-header-description;
    color: @header-app;
    background: url('@{img-path}/footer-logo.png') no-repeat right 0px;
    &:hover {
      background: url('@{img-path}/footer-logo-hover.png') no-repeat  right 0px;
    }
    &:active {
      background: url('@{img-path}/footer-logo-active.png') no-repeat  right 0px;
    }
  }
}



/*********************************************/
@media (min-width: @screen-md) and (max-width: (@screen-lg - 1)) {
  .footer-index {
    width: 100%;
    max-width: 1199px;
    margin: 0;
    &__align {

      width: 100%;

    }
    &__question {
        font-size: @font-size-title-header-tablet;
      }
  }

  .footer-index-content {
    display: flex;
    flex-wrap: wrap;
    height: 300px;

    &__text--phone {
      width: 50%;
      flex-grow: 2;
    }
    &__text--mail  {
      flex-grow: 1;
      width: 50%;
    }
    &__text--address {
      flex-grow: 1;
      align-self: flex-end;
      width: 60%;
    }
  }

  /*blog*/
  .footer {
    text-align: center;
    max-width: 1199px;
    &__align {
      .clearfix;
      display: flex;
      width: 100%;
      margin: 0 auto;

    }
  }

  .footer-logo {
    width: 180px;
    margin: 0;
    flex-grow: 1;
  }
  .footer-iconSN {
    width: 200px;
    padding: 1px 0;
    margin: 0;
    flex-grow: 1;

  }

  .footer-developer {
    width: 150px;
    padding-top: 10px;
    margin: 0;
    flex-grow: 1;

  }
}

/***********************/
/*********************************************/
@media (min-width: @screen-lg) {
  .footer-index {
    width: 100%;
    max-width: 1199px;
    margin: 0;
    &__align {

      width: 100%;

    }
    &__question {
      font-size: @font-size-title-header-tablet;
    }
  }

  .footer-index-content {
    display: flex;
    flex-wrap: wrap;
    height: 300px;

    &__text--phone {
      flex-grow: 2;
      width: 50%;
    }
    &__text--mail  {
      flex-grow: 1;
      width: 50%;
    }
    &__text--address {
      flex-grow: 1;
      align-self: flex-end;
      width: 60%;
    }
  }

  /*blog*/
  .footer {
    width: 100%;
    max-width: 100%;
    text-align: center;
    &__align {
      width: 100%;
      margin: 0;
      display: flex;

    }

  }

  .footer-logo {
    width: 180px;
    margin: 0;
    flex-grow: 1;
    &__link {
      background: none;

      &:hover {
        background: none;
      }

      &:active {
        background: none;

      }
    }
  }
  .footer-iconSN {
    width: 200px;
    padding: 1px 0;
    margin: 0;
    flex-grow: 1;

  }

  .footer-developer {
    width: 150px;
    height: 40px;
    margin: 0;
    padding-top: 10px;
    font-size: @font-size-promo-title;
    flex-grow: 1;

  }
}



